.MapChannels-container {
  height: 100%;
  overflow: scroll;
  /* border: 1px solid red; */
  /* overflow: scroll !important; */
}
.table-row-container {
  /* overflow-x: hidden; */
  /* overflow: scroll; */
  height: 100%;
}
.ck {
  width: 65%;

  display: flex;
  /* gap: 7rem; */
  margin: 20px 56px;
  font-weight: 800;
  align-items: center;
  justify-content: space-between !important;
}
.table-head {
  /* width: 1508px; */
  max-width: 100%;
  height: 63px;

  background: #e5f3ff;
  border-radius: 3px;
  display: flex;
  gap: 10px;
  margin: 20px 0;
  font-weight: 800;
  align-items: center;
  height: 23px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #0f0f0f;
  /* font-size: clamp(2px, 1.5vw, 20px); */

  padding: 20px;
  /* box-shadow: 0px 4px 8px rgb(0 0 0 / 20%); */
  /* border-radius: 15px; */
}

.table-row {
  min-width: 1508px;
  height: 102px;
  margin: 24px 56px;
  border: 1px solid red;
  background: #ffffff;
  border-radius: 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.table-row div {
  /* width: 25%; */
  /* font-weight: 500;
  color: inherit; */

  /* border: 1px solid #000000; */
}

.additional-setting-contianer {
  max-width: 100%;
  height: 108px;

  /* position: sticky; */
  display: flex;
  flex-direction: row;
  gap: 40px;
  background: #ffffff;
  border: 1px solid orange;
  border-radius: 8px;
  padding-top: 3%;
  padding-left: 2%;
}
.channels-select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.additional-setting-contianer-item span {
  margin: 0 8px;
  width: fit-content;
  height: 23px;

  /* 18 Body Medium */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #0f0f0f;
}
.additional-backupChannel-container {
  width: 100%;
  height: 249px;
  overflow: scroll;
  border: 5px solid greenyellow;
}

.backup-channels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}
.backup-channels-btn {
  align-items: center;
}
